

/* ABROAD */

.abroad {
    z-index: -2;
    background-image: url(../img/triangle2.png);
    /* background-image: url(../img/pat2.jpg); */
    /* background-image: url(../img/geo5.png); */
    /* background-image: url(../img/gr4.jpg); */
    /* background: linear-gradient(115deg, transparent 30.9%, #feac5e 31%, #c779d0, #4bc0c8); */
    /* background: -moz-linear-gradient(335deg, transparent 34.8%, #faffd1 35%, #a1ffce 100%); */
}

.abroad-card {
    border: white 3px solid;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 3px rgba(200, 200, 200, 1);
    margin: 15px;
    color: #345;
    /* background: linear-gradient(130deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), linear-gradient(150deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -moz-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -webkit-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -o-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%); */
    background: linear-gradient(130deg, transparent 70%, white 70.3%, rgb(220, 248, 154) 70.5%, transparent 100%), 
    linear-gradient(150deg, transparent 40%, #fff 40.5%, #abf 40.6%, transparent 100%);
    background: -moz-linear-gradient(330deg, transparent 70%, white 70.3%, rgb(189, 216, 255) 70.5%, transparent 100%), 
    -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, rgb(240, 201, 255) 40.6%, transparent 70%);
}


/* --------------------------------------------------------------------------- */