

/* PARALLAX */

.parallax-win {
  width: 100vw;
  min-height: 500px;
  max-height: 700px;
  height: 50vw;
  background: transparent;
  position: relative;
  z-index: 100;
  /* ровно 20 пикселей вниз съезжает и здесь надо поднять */
  /* margin-top: -20px; */
  /* filter: contrast(200%); */
}

/* Главная страница */

.head-block {
  /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 20, 70, 0.75)); */
  width: 95%;
  min-width: 300px;
  min-height: 500px;
  max-height: 700px;
  height: 50vw;
  position: relative;
  /* overflow: hidden; */
}

.head-block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    155deg,
    rgba(0, 0, 10, 0.7) 10%,
    rgba(0, 0, 15, 0.4)
  );
  z-index: -1;
  top: 0;
  left: -50%;
  border-right: white solid 3px;
  /* transform-origin: x y z; */
  transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  /* transform */
  transform: skewX(35deg);
  -moz-transform: skewX(35deg);
  -webkit-transform: skewX(35deg);
  -o-transform: skewX(35deg);
  -ms-transform: skewX(35deg);
}

.head-block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    155deg,
    rgba(0, 0, 10, 0.7) 15%,
    rgba(0, 0, 15, 0.5)
  );
  z-index: -1;
  top: 0;
  left: -53%;
  border-right: white solid 2px;
  /* transform-origin: x y z; */
  transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  /* transform */
  transform: skewX(19deg);
  -moz-transform: skewX(19deg);
  -webkit-transform: skewX(19deg);
  -o-transform: skewX(19deg);
  -ms-transform: skewX(19deg);
}

.head-block__descr {
  /* margin: 0 0 0 0; */
  padding: 4vw 30vw 7vw 4vw;
}
/* NEXT PARALLAX BLOCK */


/* .block-second {
    position: absolute;
    border-radius: 15px;
    width: 70%;
    min-width: 300px;
    max-height: 500px;
    background: linear-gradient( 155deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.6));
    margin: 20px;
} */

.block-second {
  width: 100%;
  min-width: 300px;
  min-height: 500px;
  max-height: 700px;
  height: 50vw;
  position: relative;
  /* overflow: hidden; */
}

.block-second::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(155deg, rgba(0, 0, 10, 0.7) 10%, rgba(0, 0, 15, 0.4));
  z-index: -1;
  top: 0;
  left: -55%;
  border-right: white solid 3px;
  /* transform-origin: x y z; */
  transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  /* transform */
  transform: skewX(35deg);
  -moz-transform: skewX(35deg);
  -webkit-transform: skewX(35deg);
  -o-transform: skewX(35deg);
  -ms-transform: skewX(35deg);
}

.block-second::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(155deg, rgba(0, 0, 10, 0.7) 15%, rgba(0, 0, 15, 0.5));
  z-index: -1;
  top: 0;
  left: -58%;
  border-right: white solid 2px;
  /* transform-origin: x y z; */
  transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  /* transform */
  transform: skewX(19deg);
  -moz-transform: skewX(19deg);
  -webkit-transform: skewX(19deg);
  -o-transform: skewX(19deg);
  -ms-transform: skewX(19deg);
}

.block-second__descr {
  /* margin: 0 0 0 0; */
  padding: 4vw 45vw 7vw 4vw;
}
