
.image_left {
  float: left;
  /* margin: 12px; */
}

.image_right {
  float: right;
  /* margin: 12px; */
}

.image_clear {
  clear: both;
}

/* LIDER  */

.lider-img {
    /* margin: 10px 0px 5px 15px; */
    /* border-radius: 15px; */
    width: 40%;
    height: auto;
    min-width: 290px;
    margin: 5px;
}

.lider-img_sm {
    /* margin: 10px 0px 5px 15px; */
    /* border-radius: 15px; */
    width: 30%;
    height: auto;
    min-width: 290px;
    margin: 5px;
}

.lider-img_shadow {
    border: #333 1px solid;
    box-shadow: 1px 1px 5px 1px #424246;
}


.lider-img_left {
  margin: 5px 15px 5px 5px;
  border-radius: 15px;
}


/* JILL  */

.jill-img {
    margin: 0px 0px 20px 5px;
    /* width: 33vw;
  min-width: 300px; */
    width: 380px;
    /* border: #0f0 1px solid; */
}

.jill__isc-img {
    /* width: 450px; */
    width: 65%;
    height: auto;
    min-width: 310px;
    margin: 5px;
    border: #333 1px solid;
    box-shadow: 1px 1px 5px 1px #424246;
}

.rot-left {
    transform: perspective(500px) rotateX(10deg) rotateY(15deg);
}

.rot-right {
    transform: perspective(500px) rotateX(10deg) rotateY(-15deg);
}

.rot-right_2 {
    transform: perspective(450px) rotateX(14deg) rotateY(-17deg);
}


/* ABROAD  */

.abroad-img_size {
    margin: 5px;
    width: 95%;
    height: auto;
    max-width: 450px;
    min-width: 220px;
    border-radius: 15px;
}

.abroad-img {
    /* overflow: hidden; */
    justify-content: center;
}


/* MOSCOW */


