/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/


/* Large desktops and laptops */

@media (min-width: 1200px) {
    html,
    body {
        font-size: 1.3rem;
    }
}


/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    html,
    body {
        font-size: 1.2rem;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    html,
    body {
        font-size: 1.1rem;
    }
}


/* Landscape phones and portrait tablets */

@media (min-width: 651px) and (max-width: 767px) {
    html,
    body {
        font-size: 1rem;
    }
}


/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (min-width: 481px) and (max-width: 650) {
    html,
    body {
        font-size: 0.85rem;
    }
}


/* Landscape phones and smaller */

@media screen and (max-width: 480px) {
    html,
    body {
        font-size: 0.8rem;
    }
    .img-respons {
        margin: 0 auto !important;
        border: yellow 1px solid;
    }
}


/* @media (max-width: 650) {
    .img-respons {
        margin: 0 auto;
        border: yellow 1px solid;
    }
} */