/* NEXT PARALLAX BLOCK */


/* .block-second {
    position: absolute;
    border-radius: 15px;
    width: 70%;
    min-width: 300px;
    max-height: 500px;
    background: linear-gradient( 155deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.6));
    margin: 20px;
} */

.block-second {
    width: 95%;
    min-width: 300px;
    min-height: 500px;
    max-height: 700px;
    height: 50vw;
    position: relative;
    /* overflow: hidden; */
}

.block-second::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.4));
    z-index: -1;
    top: 0;
    left: -55%;
    border-right: white solid 3px;
    /* transform-origin: x y z; */
    transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    /* transform */
    transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -o-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
}

.block-second::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.5));
    z-index: -1;
    top: 0;
    left: -58%;
    border-right: white solid 2px;
    /* transform-origin: x y z; */
    transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    /* transform */
    transform: skewX(19deg);
    -moz-transform: skewX(19deg);
    -webkit-transform: skewX(19deg);
    -o-transform: skewX(19deg);
    -ms-transform: skewX(19deg);
}

.block-second__descr {
    /* margin: 0 0 0 0; */
    padding: 4vw 45vw 7vw 4vw;
}


/* ABROAD */

.abroad {
    z-index: -2;
    background-image: url(../img/triangle2.png);
    /* background-image: url(../img/pat2.jpg); */
    /* background-image: url(../img/geo5.png); */
    /* background-image: url(../img/gr4.jpg); */
    /* background: linear-gradient(115deg, transparent 30.9%, #feac5e 31%, #c779d0, #4bc0c8); */
    /* background: -moz-linear-gradient(335deg, transparent 34.8%, #faffd1 35%, #a1ffce 100%); */
}

.abroad-img_size {
    margin: 5px;
    width: 100%;
    height: auto;
    max-width: 450px;
    min-width: 220px;
    border-radius: 15px;
}

.abroad-img {
    /* overflow: hidden; */
    justify-content: center;
}

.abroad-card {
    border: white 3px solid;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px rgba(222, 222, 222, 0.4);
    margin: 15px;
    background: linear-gradient(130deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), linear-gradient(150deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -moz-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -webkit-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    background: -o-linear-gradient(330deg, transparent 70%, #fff 70.5%, #FFbf8f 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #FF9DDF 40.6%, transparent 100%);
    /* background: linear-gradient(130deg, transparent 70%, #FDACAC 70.5%, #afa 70.6%, transparent 100%), linear-gradient(150deg, transparent 40%, #fff 40.5%, #acf 40.6%, transparent 100%);
    background: -moz-linear-gradient(330deg, transparent 70%, #FFAA73 70.5%, #afa 70.6%, transparent 100%), -moz-linear-gradient(310deg, transparent 40%, #fff 40.5%, #acf 40.6%, transparent 100%); */
    /* background: -webkit-linear-gradient( );
    background: -o-linear-gradient( ); */
}


/* TEST */


/* indigo darkviolet crimson  */

.brd {
    border: lime solid 2px;
}


/* OLD */

.main-line__h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 0.8;
    color: #000000;
    text-shadow: 1px 0px #ffffff, 0px 1px #ffffff, -1px 0px #ffffff, 0px -1px #ffffff, 0px 0px 5px #473950;
    padding-left: 3%;
    padding-bottom: 1%;
}

.mirror {
    transform: rotate(180deg);
}


/* --------------------------------------------------------------------------- */


/* OLD  */

.head-block-OLD {
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 20, 70, 0.75)); */
    width: 80%;
    min-width: 300px;
    min-height: 500px;
    max-height: 700px;
    height: 50vw;
    position: relative;
    /* overflow: hidden; */
}

.head-block-OLD::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: linear-gradient( 155deg, rgba(10, 20, 30, 0.9), rgba(10, 51, 51, 0.8)); */
    background: linear-gradient(155deg, rgba(0, 5, 0, 1), rgba(0, 12, 0, 0.7));
    /* background: linear-gradient(155deg, rgba(5, 27, 33, 1), rgba(5, 47, 53, 0.7)); */
    z-index: -1;
    top: 0;
    left: -20%;
    border-right: white solid 3px;
    /* transform-origin: x y z; */
    transform-origin: 0 1 1;
    -moz-transform-origin: 0 1 1;
    -webkit-transform-origin: 0 1 1;
    -o-transform-origin: 0 1 1;
    -ms-transform-origin: 0 1 1;
    /* transform */
    transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -o-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
}